@@ -16,7 +16,7 @@
}

body {
  background-color: var(--grey);
  background-color: var(--grey);  
}

/* header */
@@ -68,8 +68,7 @@ body {
  display: flex;
  justify-content: center;
  width: 100vw;
  /* align-items: center;
  height: calc(100vh - 132px); */
  min-height: calc(100vh - 110px);
}

.card { 
@@ -78,7 +77,7 @@ body {
}
.profile-img {
  width: 100%;
  border-radius: 8px;
  border-radius: 50%;
}

.profile-title{
@@ -226,14 +225,14 @@ body {

.footer {
  width: 100%;
  height: 66px;
  display: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--dark);
  position: fixed;
  bottom: 0;
  /* bottom: 0; */
}

.footer > p {
